[submodule "tools/splat"]
	path = tools/splat
	url = https://github.com/ethteck/splat
[submodule "tools/zelda64_compare"]
	path = tools/zelda64_compare
	url = https://github.com/Decompollaborate/zelda64_compare.git
